/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800;900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(3, 39, 30) !important;
}

i {
  font-size: 25px;
}

i:hover {
  color: rgb(3, 39, 30) !important;
}

footer {
  background-color: #f24c3d;
}

#uno {
  margin-left: 2rem;
  z-index: 20;
}

#dos {
  margin-left: 6rem;
  z-index: 20;
}

#tres {
  margin-left: 8rem;
  z-index: 20;
}

.custom-inicio {
  color: white;
}

.custom-navbar {
  background-color: #f24c3d;
  overflow: hidden;
}

.img-container {
  position: relative;
  background-image: url(../public/img/fondo-index.jpg);
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* filter: blur(5px); */
}

.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.img-container div p {
  letter-spacing: 2px;
  font-family: "Caprasimo", cursive;
  /* font-weight: 800; */
  font-size: 7.5rem;
  margin-top: 1rem;
  color: white;
  /* Aplicar un borde negro a las letras de un elemento <p> */
  /* -webkit-text-stroke: 4px black; Borde negro de 1 píxel (ajusta según tus preferencias) */
}

.destacados {
  background-color: #22a699;
  color: white;
  letter-spacing: 2px;
}

.card {
  box-shadow: ;
}

card-img-top {
  border-radius: 50px;
  padding: 20px;
}

.btn-card {
  color: white;
  background-color: #f24c3d;
}

.btn-card:hover {
  background-color: #22a699;
  color: white;
}

.btn-dark:hover {
  color:gainsboro !important;
}

.card-title {
  color: #f24c3d;
}

.p-footer {
  font-size: 12px;
  letter-spacing: 2px;
}

/* !Estilos Nosotros!*/

#hero {
  width: 100%;
  padding: 20px 20px 0;
}

.heroMainContainer {
  width: 100%;
  border-radius: 90px;
  background-color: #F29727;
  display: flex;
  justify-content: center;
  padding-top: 108px;
  letter-spacing: -1px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  width: 90%;
  max-width: 1000px;
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  color: white;
}

.heroImageContainer {
  width: 100%;
  margin-top: -100px;
}

.heroImage {
  width: 100%;
  object-fit: contain;
}

#values {
  width: 100%;
  padding: 0 25px;
}

.valuesContainer {
  width: 100%;
  background-color: #22a699;
  border-radius: 90px;
  margin: 20px 0;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 84px 0;
}

.valuesTitleContainer {
  width: 90%;
  max-width: 740px;
}

.valuesTitle {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}

.valuesSubTitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
}

#valuesWrapper {
  width: 100%;
  max-width: 1000px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.value {
  width: 100%;
  max-width: 320px;
  padding: 20px 12px;
  background-color: #F29727;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  box-shadow: 7px 8px 0 black;
  transition: all ease-in-out .2s;
  >p {
    margin: 0;
  }
}

.value:hover {
  box-shadow: none;
}





.topContent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.topImagesWrapper {
  width: auto;
  display: flex;
  position: relative;
}

.secondImage {
  width: 600px;
  height: 500px;
  object-fit: cover;
  border-radius: 38% 62% 26% 74% / 64% 40% 60% 36%;
}

@keyframes fadeInFirstImage {
  from {
    opacity: 0
  }
  to  {
    opacity: 1;
    transform: translateX(0);
  }
}

.firstImage {
  width: 600px;
  object-fit: cover;
  border-radius: 30% 70% 70% 30% / 30% 37% 63% 70%;
  opacity: 0;
  transform: translateX(200px);
  animation: fadeInFirstImage 0.5s ease-in forwards;
  animation-delay: 500ms;
}

@keyframes fadeInFirstBlock {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.content {
  width: 100%;
  max-width: 600px;
  background-color: #f24c3d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
  border-radius: 12px;
  text-align: center;
  opacity: 0;
  transform: translateX(-200px);
  animation: fadeInFirstBlock 0.5s  ease-in forwards;
  animation-delay: 500ms;
  > p {
    margin: 0;
  }
}

.botContent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 40px;
}

.titulo-destacado span {
  color: red;
}

.nosotros-iconos {
  margin: 3em 0;
}

.nosotros-iconos i {
  margin-right: 0.8em;
  padding: 0;
  color: #323232;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.nosotros-iconos li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nosotros-iconos i.fb:hover {
  color: rgb(37, 22, 240);
  transition: all 0.6s;
}

.nosotros-iconos i.tw:hover {
  color: rgb(83, 151, 239);
  transition: all 0.6s;
}

.nosotros-iconos i.ig:hover {
  color: rgb(203, 19, 123);
  transition: all 0.6s;
}

/* CARRITO */

.tarjetas img {
  width: 65px;
}
