@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600 !important;
}

i {
  font-size: 25px;
}

footer {
  background-color: #f24c3d;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: white;
  margin-top: 4px;
  border-radius: 2px;
  transition: all 0.3s ease-out;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover::after {
  width: 100%;
}
/* INDEX */

#uno {
  margin-left: 2rem;
  z-index: 20;
  height: 18vh;
}

#dos {
  margin-left: 6rem;
  z-index: 20;
  height: 18vh;
}

#tres {
  margin-left: 8rem;
  z-index: 20;
  height: 18vh;
}

.custom-inicio {
  color: white;
}

.custom-navbar {
  background-color: #f24c3d;
  overflow: hidden;
}

.contact-navbar {
  position: fixed;
  width: 100%;
  .navbar-brand {
    > img {
      width: 150px;
    }
  }
}

.img-container {
  position: relative;
  background-image: url(../public/img/fondo-index.jpg);
  width: 100%;
  height: 82vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;

  /* filter: blur(5px); */
}

.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.img-container div p {
  letter-spacing: 2px;
  font-family: "Caprasimo", cursive;
  font-weight: 800;
  font-size: 7rem;
  margin-top: 1rem;
  color: white;
  /* Aplicar un borde negro a las letras de un elemento <p> */
  /* -webkit-text-stroke: 4px black; Borde negro de 1 píxel (ajusta según tus preferencias) */
}

.destacados {
  background-color: #22a699;
  color: white;
  letter-spacing: 2px;
}

.card {
  box-shadow: ;
}

card-img-top {
  border-radius: 50px;
  padding: 20px;
}

.btn-card {
  color: white;
  background-color: #f24c3d;
}

.btn-card:hover {
  background-color: #22a699;
  color: white;
}

.btn-dark:hover {
  color: gainsboro !important;
}

.card-title {
  color: #f24c3d;
}

.p-footer {
  font-size: 12px;
  letter-spacing: 2px;
}

/* NOSOTROS */

#hero {
  width: 100%;
  padding: 20px 20px 0;
}

.heroMainContainer {
  width: 100%;
  border-radius: 90px;
  background-color: #f29727;
  display: flex;
  justify-content: center;
  padding-top: 108px;
  letter-spacing: -1px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  width: 90%;
  max-width: 1000px;
  text-align: center;
  font-size: 64px;
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  line-height: 80px;
  color: white;
}

.heroImageContainer {
  width: 100%;
  margin-top: -100px;
}

.heroImage {
  width: 100%;
  object-fit: contain;
}

#values {
  width: 100%;
  padding: 0 25px;
}

.valuesContainer {
  width: 100%;
  background-color: #22a699;
  border-radius: 90px;
  margin: 20px 0;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 84px 0;
}

.valuesTitleContainer {
  width: 90%;
  max-width: 740px;
}

.valuesTitle {
  font-family: "Mulish", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
}

.valuesSubTitle {
  font-family: "Mulish", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
}

#valuesWrapper {
  width: 100%;
  max-width: 1000px;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.value {
  width: 100%;
  max-width: 320px;
  padding: 20px 12px;
  background-color: #f29727;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  box-shadow: 7px 8px 0 black;
  transition: all ease-in-out 0.2s;
  > p {
    margin: 0;
    font-family: "Mulish";
    font-size: 18px;
  }
}

.value:hover {
  box-shadow: none;
}

#nostalgic {
  width: 100%;
  padding: 0 20px 20px;
}

.nostalgicContainer {
  width: 100%;
  display: flex;
  background-color: #f29727;
  border-radius: 90px;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.textAndImageContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 950px;
}

.nostalgicText {
  color: white;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 18px;
  border: 3px solid white;
  border-radius: 20px;
  padding: 1rem;
  background-color: #22a699;
}

.nostalgicImage {
  width: 350px;
  object-fit: contain;
  border-radius: 20px;
}

/* CARRITO */

/* Estilos para el Carrito Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: white;
  margin: 8% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.product-image-cart {
  width: 6rem;
  margin-right: 10px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

#cartItemsList {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 300px;
}

#cartItemsList li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  > h3 {
    font-size: 14px;
    margin: 0;
    max-width: 100px;
  }

  > p {
    margin: 0;
  }
}


.unitsMod {
  border: none;
  background-color: #f24c3d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
  color: white;
  width: 25px;
  height: 25px;
}

#cartTotal {
  font-weight: bold;
}

.quantity {
 display: flex;
 gap: 4px;
 > input {
  font-size: 15px;
  text-align: center;
  max-width: 30px;
 }
}

.subTotal {
  color: white;
  font-weight: 500;
  padding: 4px;
  background-color: #22a699;
  border-radius: 4px;
}

/* CHECKOUT  */

#checkoutButton {
  background-color: #22a699;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#checkoutButton:hover {
  background-color: green;
}

#vaciarCarritoButton {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 10px;
}

#vaciarCarritoButton:hover {
  background-color: #f24c3d;
}

/* CONTACTO */

#contactSection {
  width: 100%;
  padding-top: 97px;
  height: 100vh;
  display: flex;
}

.contactContainer {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: #22a699;
  color: white;
  font-weight: 500;
  margin: 0 auto 20px;
}

.bubblesWrapper {
  display: flex;
  margin-bottom: 40px;
  > :nth-child(1) {
    border-right: 2px solid white;
  }
  > :nth-child(2) {
    border-right: 2px solid white;
  }
}

.bubleContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  > p {
    margin: 0;
  }
}

.formContainer {
  margin-top: 40px;
  width: 100%;
  max-width: 600px;
  background-color: #f29727;
  padding: 24px;
  margin: 0 auto;
  border-radius: 16px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  gap: 11px;
  > label {
    color: white;
    font-family: "Mulish";
  }
  > input {
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    transition: all ease-in 0.1s;
    color: #f24c3d;
  }
  > button {
    width: auto;
    padding: 4px 8px;
    margin: 10px auto 0;
    border-radius: 8px;
    background-color: #22a699;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.contactForm input:focus {
  outline: #22a699 2px solid;
}

.formTitle {
  text-align: center;
  color: white;
  font-family: "Mulish";
  margin-bottom: 16px;
}

.contactImageContainer {
  width: 50%;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* CHECKOUT */

#checkout {
  width: 100%;
  height: 100vh;
}

.checkoutTitle {
  background-color: #f29727;
  color: white;
}

.headerCheckOut {
  letter-spacing: 1px;
  font-family: "Mulish";
}

.tarjetas {
  > img {
    width: 70px;
  }
}
